logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/activator-sbt-atmos-akka-shim.sbt
.target/views
.target
.worksheet
.cache
.ensime
.ensime_cache
.ensime_session
CC-Server.eml
bin
bin/controllers
.DS_Store
*.sc
files
/conf/generated.keystore
.cache-main
.cache-tests
projectFilesBackup
/plugins/chatplugin/node_modules
/plugins/chatplugin/public/dist/*
/plugins/chatplugin/dist/*
/plugins/dynamic_plugin.js
/plugins/static_plugin.js
/public/css/style.css
/public/javascript/scripts.js
/public/javascript/vRules.js
/public/javascript/wyredUtils.js
/public/javascript/wyredGraphs.js
/public/app/*
/public/node_modules/*
/stylesheets/
npm-debug.log
.java-version
.worksheet
.vscode/*
.vscode



